<html>
    <body>
        <h1> Predict Default </h1>
        <form action = "http://127.0.0.1:5000/" method = "post">
            <p> please enter your income : </p>
            <p><input type = "number" step = "0.01" name = "income"></p>
            <p> please enter your age : </p>
            <p><input type = "number" step = "1" name = "age"></p>
            <p> please enter the loan amount : </p>
            <p><input type = "number" step = "0.01" name = "loan"></p>
            <p><input type = "submit" value = "enter"></p>
        </form>
        {{result}}
    <body>
<html>